{% extends 'base.html' %}
{% load static %}




{% block title %}
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome {{ user.username }}.</title>
    <link rel="stylesheet" href="{% static "css/landing.css" %}">
    <script src="{% static 'js/landing.js' %}"></script>
{% endblock title %}



{% block content %}
<div class="center">
    <div class="userCard glass">
        <div class="" >
            <div class="" >
            <img class="userPicture" src="/static/images/head.png" alt="">
            </div>
            <div class="userWelcome" >
                <h2>Welcome <br> {{ user.username }}.</h2>
            </div>
        </div>
        <div class="userData" >
            <h2 style="margin-block-end: 0;" class="">id: {{ user.id }}</h2>
            <p class="">{{ user.email }}</p>
        </div>
    </div>
</div>
{% endblock content %}
