*,
*::before,
*::after {
	box-sizing: border-box;
}

.pseudoBody {
    color: white;
    min-block-size: 100dvh;
    display: grid;
    place-items: center;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    display: block;
    font-size: 1em;
    margin-block-start: 0;
    margin-block-end: 0;

}

.navbar {
    z-index: 1000;  /* oder einen anderen hohen Wert */
}


.userCard{

    /*styling*/
    color: white;
    width: 416px;
    height: 262.315px;
    flex-shrink: 0;
    border-radius: 10px;
    padding: 1rem;

    position: relative;

    transform-style: preserve-3d;
	transform:
    	perspective(2000px)
    	rotateY(var(--rotateY))
    	rotateX(var(--rotateX));
}

.userPicture{
    width: 123px;
    height: 123px;
    flex-shrink: 0;
    border-radius: 9px;

}

.userWelcome{
    position: absolute;
    top: 1rem;
    right: 2rem;
    text-align: right;
}

.userData{
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    text-align: left;
}


