body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.user_card_register {
  font-family: 'Inter', sans-serif;
  width: 540px;
  height: 550px;
  margin-top: auto;
  margin-bottom: auto;
  background: var(--glass-bg);  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 8px 32px 0 var(--glass-box-shadow);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  border: 2px solid var(--glass-border) !important;
}


.user_card_loginfix {
  width: 540px !important;
  height: 450px !important;
}

label {
  color: white;
  font-size: 11px;
  margin-bottom: 5px;
}

.form_container {
  margin-top: 20px;
}

#form-title {
  color: white;
  text-align: left;
}

.login_btn {
  width: 380px;
  color: #fff;
  border: none;
  transition: 0.3s ease;
  border-radius: 10px;
}

.login_btn:hover {
  transform: translateY(-2px);
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

.login_container {
  padding: 0;
}

.input-group-text {
  background: rgba(255, 255, 255, 0.3);
  color: white;
  border: none;
}

.input-group>.form-control:not(:last-child) {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.input-group>.form-control:not(:first-child) {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.input_user, .input_pass:focus {
  box-shadow: none !important;
  outline: 0 !important;
  background-color: transparent !important;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  height: 35px;
  padding-left: 0.6rem;
}

.mt-4 {
  color: white;
}

.links a {
}

.custom-input-spacing {
  margin-bottom: 30px;
}

.input-group:nth-of-type(1) {
  margin-bottom: 10px !important;
  /* Abstand zwischen 'Register' und 'Username' */
}

.input-group:not(:nth-of-type(1)):not(:last-of-type) {
  margin-bottom: 0.6rem !important;
  /* Abstand zwischen den Eingabefeldern */
}

.input-group:last-of-type {
  margin-bottom: 10rem !important;
}

.test {
  height: 80px;
}

.back-button:hover {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
  	text-decoration: none; /* entfernt die Unterstreichung */

}

#messages {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

/* Dark Mode */

:root {
    --glass-bg: rgba(255, 255, 255, 0.1);
    --glass-box-shadow: rgba(26, 26, 26, 0.37);
    --glass-border: rgba(255, 255, 255, 0.18);
    --html-background: url('/static/images/Lightmode1.png');
    --loginButton-Color: rgb(231, 122, 130);
}

[data-theme="dark"] {
    --glass-bg: rgba(0, 0, 0, 0.31) !important;
    --glass-box-shadow: rgba(0, 0, 0, 0.27)!important;
    --glass-border: rgba(255, 255, 255, 0.1)!important;
    --html-background: url('/static/images/darkmode1 (1).png')!important;
    --loginButton-Color: rgb(13, 88, 184);



    /* Weitere Farbvariablen für den Dark-Mode hier */
}
