/* ALLGEMEIN */

html, body {
    background-image: var(--html-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    height: 100%;
    margin: 0;
    padding: 0;
    background-blend-mode: screen, color-dodge, color-burn, screen, overlay, difference, color-dodge, normal;
}


/* NAVBAR */

.navbar {
    margin-left: 10%;
    margin-top: 0.4%;
    margin-right: 10%;
    overflow: hidden;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(255,255,255,0.1);
}

/* Glassmorphism */

.glass {
  background: var(--glass-bg);
  box-shadow: 0 8px 32px 0 var(--glass-box-shadow);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  border: 2px solid var(--glass-border) !important;
  color: white;
}

.center-V {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


/* Dark Mode Icons */
.iconButtonSecond {
    padding: 1rem;
    left: 0;
}

.iconButtonMain {
    background: transparent;
    border: transparent;
    color: white;
}

.right {
    position: absolute;
    right: 1rem;
    top: 1rem
}

/* Für login */

.links a {
  color: var(--loginButton-Color)!important;
}

.login_btn {
  background: var(--loginButton-Color)!important;
}

.login_btn:hover {
  background: var(--loginButton-Color)!important;
}


/* Landing zeug */

.userWelcome {
    font-weight: 100;
}

/* Dark Mode */

:root {
    --glass-bg: rgba(255, 255, 255, 0.1);
    --glass-box-shadow: rgba(26, 26, 26, 0.37);
    --glass-border: rgba(255, 255, 255, 0.18);
    --html-background: url('/static/images/websitewallpaper.png');
    --loginButton-Color: rgb(90, 54, 253);
}

[data-theme="dark"] {
    --glass-bg: rgba(0, 0, 0, 0.31) !important;
    --glass-box-shadow: rgba(0, 0, 0, 0.27)!important;
    --glass-border: rgba(255, 255, 255, 0.1)!important;
    --html-background: linear-gradient(320.54deg, #00069F 0%, #120010 72.37%), linear-gradient(58.72deg, #69D200 0%, #970091 100%), linear-gradient(121.28deg, #8CFF18 0%, #6C0075 100%), linear-gradient(121.28deg, #8000FF 0%, #000000 100%), linear-gradient(180deg, #00FF19 0%, #24FF00 0.01%, #2400FF 100%), linear-gradient(52.23deg, #0500FF 0%, #FF0000 100%), linear-gradient(121.28deg, #32003A 0%, #FF4040 100%), radial-gradient(50% 72.12% at 50% 50%, #EB00FF 0%, #110055 100%);
    --loginButton-Color: rgb(0, 0, 174);


    /* Weitere Farbvariablen für den Dark-Mode hier */
}

