/* ALLGEMEIN */

html, body {
    background-image: var(--html-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: url(/static/images/cursor.png), auto;
}


/* NAVBAR */

.navbar {
    margin-left: 38%;
    margin-top: 0.4%;
    margin-right: 38%;
    overflow: hidden;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(255,255,255,0.1);
}

/* Glassmorphism */

.glass {
    background: var(--glass-bg);
    box-shadow: var(--glass-box-shadow);
    border-radius: 25px;
    backdrop-filter: blur(5px);
    color: white;
    background-image: linear-gradient(45deg, rgba(32,152,255,0.1), rgba(172,50,249,0.1));
    mix-blend-mode: hard-light;
    box-sizing: border-box;

}

.center-V {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center-H {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


/* Dark Mode Icons */
.iconButtonSecond {
    padding: 1rem;
    left: 0;
}

.iconButtonMain {
    background: transparent;
    border: transparent;
    color: white;
}

.right {
    position: absolute;
    right: 1rem;
    top: 1rem
}

/* Für login */

.links a {
  color: var(--loginButton-Color)!important;
}

.login_btn {
  background: var(--loginButton-Color)!important;
}

.login_btn:hover {
  background: var(--loginButton-Color)!important;
}


/* Landing zeug */

.userWelcome {
    font-weight: 100;
}


/* Light Mode */

:root {
    --glass-bg: rgba(255, 255, 255, 0.1);
    --glass-box-shadow: 0 2px 10px rgba(123, 123, 123, 0.1), 0 10px 15px rgba(0, 0, 0, 0.13);
    --glass-border: rgba(255, 255, 255, 0.18);
    --html-background: url('/static/images/Lightmode1.png');
    --loginButton-Color: rgb(90, 54, 253);
}

/* Dark Mode */

[data-theme="dark"] {
    --glass-bg: rgba(0, 0, 0, 0.31) !important;
    --glass-box-shadow: 0 2px 10px rgba(123, 123, 123, 0.19), 0 10px 15px rgba(0, 0, 0, 0.22);
    --glass-border: rgba(255, 255, 255, 0.1)!important;
    --html-background: url('/static/images/darkmode1 (1).png')!important;
    --loginButton-Color: rgb(0, 0, 174);



    /* Weitere Farbvariablen für den Dark-Mode hier */
}



