{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/changelog.css' %}">
  <script src="{% static 'js/changelog.js' %}" defer></script>

  <!-- inspired by a thumbnail of one of my recent videos -->
  <!-- https://assets.codepen.io/308367/3-grid-layouts.jpg -->

  <!-- with JS -->
    <b1>
  <pre  class="glass" tabindex="0">

        <div class="picandwelcome">
            <div class="userPicture" >
            <img class="userPicture" src="/static/images/head.png" alt="">
        </div>
            <div class="userWelcome" >
                <h2>Welcome <br> {{ user.username }}.</h2>
            </div>
        </div>
        <div class="userData" >
            <h2 class="userId">id: 193138133</h2>
            <p class="userEmail">{{ user.email }}</p>
        </div>

  </pre>
</b1>

{% endblock %}
