html {
    background-image: url('https://i.ibb.co/W0WDPnv/Untitled-design.png');
    background-size: cover;
    color: white;
}




#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

}

#time {
    color: #ffffff;
    font-size: 7em;
    text-align: center;

}

.button {
    border-color: transparent;
    padding: 0.7rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

#fixedHeader {
    position: sticky;
    top: 0;
    left: 15px;
    margin-right: 50px;
}

#timesContainer {
    /* Ihr bisheriger Code... */

    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);
}

#timesContainer::-webkit-scrollbar {
    width: 12px;

}

#timesContainer::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);

}

#timesContainer::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 20rem;
}

::-webkit-scrollbar-track {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;

}

.container-main {
    padding: 0.75rem;
}

.container-subTimes{
    overflow: auto;
    max-height: 16rem;

}

.container-subHeader{
    padding-bottom: 0.75rem;

}

.mainContainer{
    display: flex; /* Oder 'block', je nach Ihrem Design. */
    align-items: center; /* Zentriert die inneren Elemente horizontal. */
    width: 500px;
    height: 450px;

}


.cubeButton {
    bottom: 0;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
}

.buttonRight{
        margin-left: 6px;
}

.buttonLeft{
        margin-right: 6px;
}

#container {
    margin-bottom: 0.5rem; /* oder der gewünschte Abstand */
}


.leftSide {
    justify-content: center;
    flex-direction: column;
    max-width: 10rem;
    margin-left: 0.5rem !important;

}

.stats{
    padding: 0.75rem;
    margin-bottom: 1rem;
}

#togglePreview.on {
    background-color: green;
    color: white;
}

#togglePreview.off {
    background-color: red;
    color: white;
}

.toggle-icon-button {
    background: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}

.toggle-icon-button:focus {
    outline: none;
}

.container-subHeader{
    padding-bottom: 0 !important;

}
/* Die umgebende .stats Klasse passt sich dynamisch an */
.stats {
    width: fit-content;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  /* Optional: Ein leichter Schatten für den "Glas" Effekt */
    border-radius: 10px;  /* Optional: Abgerundete Ecken für den "Glas" Effekt */
}

/* Die Tabelle wird "weitläufiger" und hat Trennlinien */
table {
    border-collapse: separate;
    border-spacing: 0 5px;  /* Dies gibt etwas vertikalen Raum zwischen den Zeilen */
    width: 100%;
}

/* Trennlinien und erweiterte Tabellenzellen */
td, th {
    padding: 3px 10px;  /* Erweitert die Tabellenzellen */
    text-align: left;
}


tbody tr:last-child td {
    border-bottom: none;  /* Entfernt die Trennlinie von der letzten Zeile */
}

.stats table, .stats tr:first-child {
    margin-top: 0;
    padding-top: 0;
}


