html {
    background-image: url('https://i.ibb.co/W0WDPnv/Untitled-design.png');
    background-size: cover;
    color: white;
}

#timesContainer {
    position: absolute;
    top: 40%;
    left: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    overflow: auto;
    max-height: 220px;
    width: 200px;
    float: left;

}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 300px;
    top: 24%;
    margin-left: auto;
    margin-right: auto;
}

#time {
    color: #ffffff;
    font-size: 7em;
    text-align: center;
}

#button button {
    background-color: #333333FF;
    color: #fafafa;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#fixedHeader {
    position: sticky;
    top: 0;
    left: 15px;
    margin-right: 50px;
}

/*#timesContainer {*/
/*    !* Ihr bisheriger Code... *!*/

/*    scrollbar-width: thin;*/
/*    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);*/
/*}*/

/*#timesContainer::-webkit-scrollbar {*/
/*    width: 12px;*/
/*}*/

/*#timesContainer::-webkit-scrollbar-track {*/
/*    background: rgba(0, 0, 0, 0.1);*/
/*}*/

/*#timesContainer::-webkit-scrollbar-thumb {*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*    border-radius: 20px;*/
/*}*/