{% extends 'base.html' %}

{% block content %}
<style>
        html {
			background-image: url('https://i.ibb.co/W0WDPnv/Untitled-design.png');
            background-size: cover; /* Add this line */
            color: white;

        }

        /* Glassmorphism Style */
        .glassmorphism {
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
			border-radius: 20px;
			backdrop-filter: blur(10px);
			border: 2px solid rgba(255, 255, 255, 0.18);
			background: rgba(255, 255, 255, 0.1);
            -webkit-backdrop-filter: blur( 4px );
        }

        /* Your existing styles, updated to use the glassmorphism class */
        #timesContainer {
            padding-top: 15px;
            padding-left: 15px;
            padding-bottom: 15px;
            position: absolute;
            top: 140px;
            left: 15px;
            margin-right: 50px;
            margin-top: 150px;
            text-align: left;
            overflow: auto;
            max-height: 220px;
            width: 200px;
        }
        #container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 500px;
            height: 300px;
            margin-top: 150px;
            margin-left: auto;
            margin-right: auto;
        }
        #time {
            color: #ffffff;
            font-size: 7em;
            text-align: center;
        }
        #button button {
            background-color: #333333FF;
            color: #fafafa;
            border-radius: 20px;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }
        #fixedHeader {
            position: sticky;
            top: 0;
            left: 15px;
            margin-right: 50px;
        }
    </style>
    <div id="container" class="glassmorphism">  <!-- Add glassmorphism class here -->
        <h2 id="time">0.00</h2>
        <div id="button">
            <button id="deleteLast">Delete Last Time</button>
            <button id="deleteAll">Delete All Times</button>
        </div>
    </div>
    <div id="timesContainer" class="glassmorphism">  <!-- Add glassmorphism class here and move timesContainer outside of container -->
        <div id="fixedHeader">
            <table>
                <tr>
                    <th>Times</th>
                </tr>
            </table>
            <table>
                <tr>
                    <td id="average">Average: 0.00</td>
                </tr>
            </table>
        </div>
        <table id="times">
        </table>
    </div>


    <script>
        let timer = 0;
        let intervalId = null;
        let startTimestamp = null;
        let times = localStorage.getItem('times') ? JSON.parse(localStorage.getItem('times')) : [];
        let canStart = true;
        let inspectionIntervalId = null;
        let inspectionTime = 15;

        window.onload = function() {
            for (let i = times.length - 1; i >= 0; i--) {
                addTimeToTableWithoutAppending(times[i]);
            }
            updateAverage();
        };

        function updateTimer() {
            timer = (Date.now() - startTimestamp) / 1000;
            document.getElementById('time').textContent = timer.toFixed(2);
        }

        function startInspectionTimer() {
            if (inspectionIntervalId) return;
            // Update the screen before starting the timer
            document.getElementById('time').textContent = inspectionTime.toFixed(2);
            inspectionIntervalId = setInterval(function() {
                inspectionTime--;
                if (inspectionTime <= 0) {
                    clearInterval(inspectionIntervalId);
                    inspectionIntervalId = null;
                    document.getElementById('time').textContent = 'DNF';
                    document.getElementById('time').style.color = 'red';
                } else {
                    document.getElementById('time').textContent = inspectionTime.toFixed(2);
                    // If the remaining inspectionTime is less than 5 seconds, change the color to red
                    if (inspectionTime <= 5) {
                        document.getElementById('time').style.color = 'red';
                    }
                }
            }, 1000);
        }

        function stopInspectionTimer() {
            if (inspectionIntervalId) {
                clearInterval(inspectionIntervalId);
                inspectionIntervalId = null;
                inspectionTime = 15;
            }
        }

        function addTimeToTableWithoutAppending(time) {
            const table = document.getElementById('times');
            const row = table.insertRow(0);
            const cell = row.insertCell();
            cell.textContent = time.toFixed(2);
        }

        function addTimeToTable(time) {
            addTimeToTableWithoutAppending(time);
            times.unshift(time);
            updateAverage();
            localStorage.setItem('times', JSON.stringify(times));
        }

        function updateAverage() {
            let sum = 0;
            for (let time of times) {
                sum += parseFloat(time);
            }
            let average = sum / times.length;
            document.getElementById('average').textContent = "Average: " + average.toFixed(2);
        }

        function deleteLastTime() {
            if (times.length > 0) {
                times.shift();
                const table = document.getElementById('times');
                table.deleteRow(0);
                updateAverage();
                localStorage.setItem('times', JSON.stringify(times));
            }
        }

        function deleteAllTimes() {
            times = [];
            const table = document.getElementById('times');
            let rows = table.rows.length;
            for (let i = rows - 1; i >= 0; i--) {
                table.deleteRow(i);
            }
            updateAverage();
            localStorage.clear();
        }

        let isSpaceKeyDown = false; // neue Variable

        window.addEventListener('keydown', (event) => {
            if (event.code === 'Space') {
                event.preventDefault();
                if (!isSpaceKeyDown) { // prüfen ob die Leertaste gerade gedrückt wird
                    isSpaceKeyDown = true; // setzen Sie die Variable auf true
                    if (intervalId) {
                        clearInterval(intervalId);
                        intervalId = null;
                        addTimeToTable(timer);
                        timer = 0;
                        document.getElementById('time').textContent = timer.toFixed(2);
                        canStart = false;
                        setTimeout(() => {
                            canStart = true;
                        }, 1000);
                    } else if (inspectionIntervalId) {
                        stopInspectionTimer();
                        startTimestamp = Date.now();
                        intervalId = setInterval(updateTimer, 10);
                        document.getElementById('time').style.color = '#ffffff';
                    } else {
                        startInspectionTimer();
                    }
                }
            } else if (event.code === 'Escape') {
                if (intervalId) {
                    clearInterval(intervalId);
                    intervalId = null;
                    timer = 0;
                    document.getElementById('time').textContent = timer.toFixed(2);
                }
            }
        });

        window.addEventListener('keyup', (event) => {
            if (event.code === 'Space') {
                event.preventDefault();
                isSpaceKeyDown = false; // setzen Sie die Variable auf false
                if (!intervalId && !inspectionIntervalId && canStart) {
                    startInspectionTimer();
                }
            }
        });

        document.getElementById('deleteLast').addEventListener('click', deleteLastTime);
        document.getElementById('deleteAll').addEventListener('click', deleteAllTimes);
    </script>
{% endblock %}
